body{
    background-color: #C3F3F3;
    max-width: 1800px;
}

.titulo{
    text-align:center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tema_fotos{
    text-align:center;
    font-size: 35px;
}

a{
    font-size: 24px;
    padding-left: 50px;
    padding-bottom: 1px;
}

.exp{
    font-size: 20px;
    padding-left: 50px;
    width: 1800px;
}

img{
    width: 100%;
    width: 1500px;
    margin: auto;
}
